{% include 'Base.html' %}
{% include 'navigation.html' %}

{% block content %}
    <h1 class="text-center" style="margin-top:50px;">About Us</h1>
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="strong"> Hi/Hello<br>welcome</h1>
                    <p class="lead">good morning<br>This is about page</p>
                </div>
                <div class="col-sm-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veniam impedit quibusdam quam perspiciatis, adipisci obcaecati explicabo modi ipsam deleniti officiis, ad ipsa amet aspernatur perferendis consequuntur atque, maxime repudiandae.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni earum accusamus voluptatem repellendus eos vitae minus maiores alias aliquam temporibus, ea sed eum, non ad quisquam autem? Dolore, autem ea?</p>
                </div>
            </div>
            <div class="row">
                <div class="site-heading text-center">
                    <h1>Our Team</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia nihil laudantium architecto, dolore inventore odit perferendis aspernatur sed illo in tempore rerum facere ipsam totam neque voluptas debitis? Dicta, repellendus?</p>
                    <div class="border"></div>
                </div>
            </div>
        </div>
{% endblock content %}
{% include 'footer.html' %}