{% include 'Base.html' %}
{% include 'navigation.html' %}
{% block content %}
<style>
    body
    {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fgfycat.com%2Fgifs%2Ftag%2Fdoctor&psig=AOvVaw1Xtzi5KiQ2H8EmHYbC5ygM&ust=1692433062952000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMjFk8_i5YADFQAAAAAdAAAAABA1');
    background-repeat: no-repeat;
    background-size:cover;
}
</style>
    <center>
        <h1>Add patient</h1>
            <form method="POST">
                {% csrf_token %}
                    <label for="name">Patient name</label>
                    <input type="text" name="name" id="name"><br>
                    <br>
                    <label for="mobile">Mobile</label>
                    <input type="text" name="mobile" id="mobile"><br><br>
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" id="gender"><br><br>
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address"><br><br>
                <input type="submit" value="submit" class="btn btn-success">
            </form>
    </center>
{% endblock content %}
{% include 'footer.html' %}