{% include 'Base.html' %}
{% include 'navigation.html' %}
{% block content %}
    <style>
        body
        {
        background-image: url('https://img.freepik.com/free-photo/doctors-day-cute-young-handsome-man-lab-coat-glasses-smiling-holding-book_140725-162884.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        }
        .doc
        {
            position: relative;
            left: 150px;
        }
    </style>
    <center>
        <h1>Add Doctor</h1>
            <table>
                <form method="POST">
                    {% csrf_token %}
                        <tr>
                           <td><label for="Name">Doctor name</label></td> 
                            <td><input type="text" name="Name" id="Name"></td> 
                        </tr>
                        <tr>
                            <td><label for="mobile">mobile</label></td> 
                            <td><input type="text" name="mobile" id="mobile"></td> 
                        </tr>
                        <tr>
                            <td> <label for="special">special</label></td> 
                            <td><input type="text" name="special" id="special"></td> 
                        </tr>
                        <tr>
                            <td><input type="submit" value="submit" class="btn btn-warning doc"></td> 
                        </tr>
                </form>
            </table>
    </center>
    
{% endblock content %}
{% include 'footer.html' %}