{% include 'Base.html' %}
{% include 'navigation.html' %}
{% block content %}
    <div>
        <h2>View patient</h2>
        <table id="example" class="table table-hover">
            <thead>
                <tr>
                    <th>patientid</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for i in PAT %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.mobile}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.address}}</td>
                    <td><a href="{% url 'delete_Patient' i.id %}" onclick="return confirm('Are u sure u want to delete ?')"  class="btn btn-primary">delete</a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% include 'footer.html' %}